---
title: Camp Host Program
---

%b What is a camp host?
%p Campground hosts are volunteers, which serve without pay, to share their camping know-how, love of the outdoors and their love of Christ with campers at Valley Camp in exchange for free camping, with electric, water and sewer hookups.

%b Why have camp hosts?
%p Our goal is to help develop a sense of community at Valley Camp. Hosts that share this same goal will by nature make campers feel like they belong and help to facilitate a good experience for all who come to enjoy the camp, to seek a time of relaxation and retreat. There is no substitute for the personal touch camp hosts can provide that makes a camper feel welcome and "at home". Hosts, just by their presence, will help to provide a sense of security in camp, a person close by to go to in case of emergency. Another benefit of the campground host program is better-oriented and informed visitors, reduced vandalism and lower speeds on the roads in camp.

%b What are the benefits to the hosts?
%p Hosts receive numerous benefits during their time at Valley Camp. The pleasure of spending time outdoors within a community of believers that share like values helping to develop a Lutheran Outdoor Ministry camping program will be the greatest benefit. Other host benefits will be, the satisfaction of helping others to enjoy the camp, meeting new folks from all walks of life, possibly becoming lasting friends, and free camping with electric, water, sewer hookups plus free wifi during the time they are serving as hosts.

%b What is expected of a camp host?
%p Hosts are outgoing and love meeting new people. Hosts set the example for other campers and will practice good housekeeping at all times.
%p Hosts will become familiar with the surrounding area and the camp facilities.

%b Our Camp hosts will:
%ul
  %li Be available for a minimum of 2 consecutive weeks during the camping season (May 15th through October 15th). To provide opportunity for all that are interested in being hosts we may set a 4-week maximum. (talk to us about this if you would like to stay longer) Be on duty 4 days out of 7, including weekends and holidays with any days off taken midweek. Hours will vary but will mostly be concentrated in early morning and mid-late afternoon, evening and night. We ask that hosts be on call whenever on site.
  %li Greet new campers when they first arrive in campground area
  %li Provide hospitality to campers
  %li Walk through camp several times per day
  %li Stay in close communications with camp staff
  %li Be a minimum of 21 years of age
  %li Be willing to join our Christian community
  %li Provide their own camping unit, equipment and personal items for their stay
  %li Wear appropriate attire while on duty, which may include a camp hat or name tag
  %li Display the sign designating the host site at all times
  %li Attend weekly staff meetings

%b What type of maintenance or other duties may be involved?
%ul
  %li Replacing toilet paper and paper towels in restrooms
  %li Sweeping and light cleaning of restroom and entry area
  %li Checking gazebo fire pit
  %li Litter pickup
  %li Report to staff when garbage cans are getting full
  %li Light gardening
  %li Notify camp staff if firewood supply gets low
  %li Notify camp staff of any problems
  %li Hosts may provide other services according to their specialties or interests

%b Who works with our hosts?
%p Hosts work closely with camp staff and are supervised by the Valley Camp Director.
%p Hosts will get an orientation to the camp when they arrive from the Director or Registrar going over camp facilities, policies and procedures.

Are you interested? We have openings right now!

If being a campground host at Valley Camp sounds like something you would like to do, please contact us for an interview by calling (425) 888-1852
