---
title: Camping Etiquette
---

%p
  "What?!", you may be saying. "Camping etiquette? Is there such a thing? What is it?" Funny you should ask! We’ll be glad to answer that question. Over the years, we have discovered a lot about fellow campers. We would prefer to think that the negative behaviors we have seen are mostly because of the lack of knowledge. It would make us very sad to think these fellow campers are acting intentionally to destroy the outdoor area they have just spent time enjoying. We would like to take this opportunity to educate those campers who simply lack the information. We offer to you these few simple rules to help make everyone’s stay at camp enjoyable and safe.
  %br
  Please read (If your with a group please read them to your group.)

%p First of all: <strong>these rules apply to everyone.</strong>

%p If there's a posted speed limit, <strong>please abide by it!</strong> What's your rush ... after all, didn't you come out to relax and get away from the rat race? Our speed limit is <strong>5 mph</strong>. This is for everyone’s safety especially for the kids who love to run and play. It also helps keep the dust down if you drive slow.

%p Most campgrounds have quite hours. Please observe our quite hours from 10:00 p.m. to 7 a.m. Your noise may disturb others who have come to enjoy the quiet. Valley Camp also has neighbors, so let’s be good neighbors.

%p We recommend that you keep all food inside your car or cooler at night. We have wild animals that would enjoy your food over theirs and we don’t want them to become pests.

%p We have asked that you not bring your pet to camp with you.  If you have arrived with your pet be a responsible pet owner. Please clean up after your pet and please keep them on a leash, remember others may not love your pet as much as you do. Also remember we have wild animals that would love your pets food so keep it inside where no wild animals can get to it.

%p The vegetation and trees need all the help they can get. Please don't chop or pound nails into the only source of shade available. Do not cut or chop still standing trees. If you are short on firewood just ask we have plenty. 

%p Burn only wood or paper in the fire pit. Dispose of all other items in there proper spots. Aluminum will not burn and plastic stinks. Campfires may not be left unattended. They must be "dead out" before leaving the fire gazebo. To extinguish your fire, use the hose in the green box by the entrance of the gazebo. Do not bury the campfire with dirt. Remember we are a long way away from the fire department.

%p Use proper trash receptacles for you trash, the garbage cans are behind the fences at both ends of the RV area. Remove trash when you leave your camp site so animals will not make a mess of it. Please help us by leaving your site as clean or cleaner than before you found it.

%p Water balloon fights are great fun. Please pick up all the left over balloon pieces so the wild animals don’t eat them and die.

%p Smoking is only allowed outside of buildings. Place your extinguished cigarette butts in a trash receptacle. Please don't leave your cigarette butts out on the ground. It makes your camp look bad. Cigarette butts are not a part of nature and they don't belong on campground roads or trails. After a walk or hike, please bring your cigarette butts back to the garbage can. 

%p Due to granting agencies regulations recreational use of marijuana is strictly prohibited on Valley Camp properties. 

%p When walking around the campground with a beverage, please throw your empty container in the proper receptacle, not along side the road. These things are not part of the nature you have come to enjoy.

%p Wouldn't you prefer the camp staff to be spending their time making improvements at your campground rather than spending their time simply picking up after campers. Just take 15 minutes or so, and do a group effort to quickly pick up your campground. If we all follow this simple, commonsense, camping etiquette the beautiful campground we are enjoying now with our families will still be beautiful when our children have their families and want to take them camping!

%h2 Scouting etiquette

%p We expect the group leadership to go over these rules with all camp participants before arriving at camp.

%p Follow all Camping etiquette rules.

%p Valley Camp is a “Leave NO Trace” camping facility.  This applies to all groups.  Please be sure you know all of the “principles of Outdoor Etiquette” before coming to camp.  Camp is the place to practice.

%p There are projects going on around the camp that belong to different organizations. (ie ropes and pulleys in trees = Emergency services, big orange trap = elk management, roped squares around bushes in woods = plant study by local botanists, taped off areas in riparian zone = local invertebrate study)  If you find one of these projects please leave it alone.  Ask the office about it and I am sure you will get information on the current study projects in progress.

%p Respect the space of other campers.  There is plenty of play space for games without running, or kicking balls, or throwing Frisbees into other campers space.


%h2 Helpful Links:

%ul
  %li
    %a{ :href=>"http://www.lnt.org", :target=>"_blank"}www.lnt.org/ - Leave No Trace
  %li
    %a{ :href=>"http://www.lnt.org/learn/7-principles/", :target=>"_blank"}Leave No Trace: 7 principles
  %li
    %a{ :href=>"http://www.seattlebsa.org", :target=>"_blank"}Chief Seattle Council of BSA
  %li
    %a{ :href=>"/page/orienteering"}Our Orienteering Course
