---
title: Coming Events
---

%ul
  %li
    May 18th -
    %a{href: "http://pnwdigital.net/"}PNW DMR workshop
    (Learn about Digital Mobile Radio)
  %li August - Enjoy the summer! (Come enjoy it with us!)
  %li September 6-8 - <a href="http://wa7vc.org/summergathering" target="_blank">WA7VC Summer Gathering</a>.

For more information about participating in any of these events please contact the camp office.
