---
title: Coming Events
---

%ul
  %li Labor Day Weekend - Possible Work party weekend (contact camp office)
  %li September - APRS Summer Gathering - Cedar Grove Shelter
  %li October - JOTA/JOTI (Jamboree on the Air/Jamboree on the Internet) Scouting event - Cedar Grove Shelter

For more information about participating in any of these events please contact the camp office.
