---
title: Coming Events
---

%ul
  %li July 13-15 - PNW QRP group gathering. Contact camp for more info, especially if you're interested in radio communications.
  %li August - Enjoy the summer! (Come enjoy it with us!)
  %li September 7-9 - APRS Summer Gathering.
  %li October (Yearly: Third Weekend) - <a href="http://www.arrl.org/jamboree-on-the-air-jota" target="_blank">JOTA/JOTI</a> (Jamboree on the Air/Jamboree on the Internet) Scouting event - Cedar Grove Shelter

For more information about participating in any of these events please contact the camp office.
