---
title: Coming Events
---

%ul
  %li Memorial Day Free-for-all (May 27-30) - Work party weekend, call for a spot! Planned projects include removal and rebuilding of the old chapel bridge!
  %li June 25-26 - Emergency Services <a href="http://arrl.org/field-day" target="_blank">Field Day</a>. Come see how local emergency communications teams practice and prepare for the unexpected.
  %li July 7-11 - PNW QRP group gathering. Contact camp for more info, especially if you're interested in radio communications.
  %li August - Enjoy the summer! (Come enjoy it with us!)
  %li Labor Day Weekend - Work party weekend, contact camp office for more info. Planned project, weather permitting, include wood cutting and splitting.
  %li September (Yearly: Weekend after Labor Day) - APRS Summer Gathering - Cedar Grove Shelter
  %li October (Yearly: Third Weekend) - <a href="http://www.arrl.org/jamboree-on-the-air-jota" target="_blank">JOTA/JOTI</a> (Jamboree on the Air/Jamboree on the Internet) Scouting event - Cedar Grove Shelter

For more information about participating in any of these events please contact the camp office.
