---
title: Coming Events
---

%ul
  %li June 23-25 - <a href="http://arrl.org/field-day" target="_blank">Field Day</a> with the Issaquah Amateur Radio group. Come see how local emergency communications teams practice and prepare for the unexpected.
  %li July 6-10 - PNW QRP group gathering. Contact camp for more info, especially if you're interested in radio communications.
  %li August - Enjoy the summer! (Come enjoy it with us!)
  %li Labor Day Weekend - Possible work party, contact camp office for more information.
  %li September 8-10 - APRS Summer Gathering.
  %li October 4-11 - Sukkot, a Christian/Jewish holiday celebrated annually.  Complete with tabernacle in upper field.
  %li October (Yearly: Third Weekend) - <a href="http://www.arrl.org/jamboree-on-the-air-jota" target="_blank">JOTA/JOTI</a> (Jamboree on the Air/Jamboree on the Internet) Scouting event - Cedar Grove Shelter

For more information about participating in any of these events please contact the camp office.
