---
title: Contact Us
---

%p
  Valley Camp
  %br
  49515 SE Middle Fork RD.
  %br
  North Bend, WA 98045
  %br
  %br
  425-888-1852
  %br
    %a{:href => "mailto:info@valleycamp.org"}
      info@valleycamp.org

%p
  %a{:href => "http://twitter.com/valleycamp", :target => "_blank"}
    Follow us on Twitter
  to find out when there have been updates to share on such things as the website, news blogs, or anything exciting going on at camp.

%p
  Valley Camp is owned and operated by Valley Camp Ministries board of directors of North Bend, WA., a Washington State 501(c)3 non-profit corporation.
