---
title: Directions
---

%h2 Directions Traveling Westbound I-90

%p Take Exit 34 off of I-90. At the bottom of the off ramp turn right.

%p Go ½ mile to SE Middle Fork Rd. and turn Right (County sign says 'Valley Camp 2.2 miles').

%p Follow the road to the "Y" and take the left road (the lower road marked SE Middle Fork Rd). Follow that road until you get to the stop sign. We are straight ahead.

%p If you find the end of the asphalt road you have missed us, turn around and watch for the sign on the left.

%p GPS Coordinates for the entrance of camp: 47.4680  -121.6808



%h2 Directions Traveling Eastbound I-90

%p Take Exit 34 off of I-90. At the bottom of the off ramp turn Left.

%p Go ½ mile to SE Middle Fork Rd. and turn Right (County sign says 'Valley Camp 2.2 miles').

%p Follow the road to the "Y" and take the left road (the lower road marked SE Middle Fork Rd). Follow that road until you get to the stop sign.

%p We are straight ahead. If you find the end of the asphalt road you have missed us, turn around and watch for the sign on the left.

%p GPS Coordinates for the entrance of camp: 47.4680  -121.6808

