---
title: How to find or contact us
---

%div.col_4.right
  %div.subhead Address/Coordinates
  49515 SE Middle Fork Rd
  North Bend WA 98045
  %p 47.4680  -121.6806

  %div.subhead Phone
  425-888-1852

  %div.subhead Fax
  425-888-9867

  %div.subhead Email
  %a{ :href => "mailto:info@valleycamp.org" } info@valleycamp.org

  %div.subhead Directions
  Take Exit 34 off of I-90. At the bottom of the off ramp turn north. (Left if coming from the west.)

  %p Go ½ mile to SE Middle Fork Rd. and turn Right (County sign says 'Valley Camp 2.2 miles').

  %p Follow the road to the "Y" and take the left road (the lower road marked SE Middle Fork Rd). Follow that road until you get to the stop sign. We are straight ahead.

  %p If you find the end of the asphalt road you have missed us, turn around and watch for the sign on the left.


%div.col_8
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21575.82992797422!2d-121.6983343364258!3d47.470843714678395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3a7f940122f2cd26!2sValley+Camp!5e0!3m2!1sen!2sus!4v1396141174834" width="600" height="450" frameborder="0" style="border:0"></iframe>
