---
title: Donate
---

-#
  %div.success Thank you for the donation! <!-- if ?completed=true -->

%p Valley Camp is funded 100% through donations. Every dollar we get goes back into making camp the best possible place for you, our guest.
%p One-time donations are always very much appreciated, however recurring donations (subscriptions) are especially helpful because they allow us to plan ahead. Imagine not knowing what you were going to get paid next month, and how that would impact your decisions. Subscriptions, even of just a few dollars a month, allow us to plan our spending effectively and are the best way to help us to make improvements.
%p Not all methods of giving money are equal. As a non-profit we have to be very aware of what percentage of your donation is taken as fees. Listed below are some options, beginning with the ones that get the largest percentage of your donation to us.

%div.subhead Cash or Check - 100%
%div.col_12
  %p The traditional method of giving people money, it turns out this is still one of the best. The only downside is that you have to come see us in person, or find a stamp. (If you are visiting us in person we're also able to accept donation via credit card.)


-#
  %div.clear
  %div.subhead Bitcoin - 99%
  %div.col_9
    %p If you don't know what Bitcoin is, just skip over this, but if you do: This is the best way to get us money digitally! Your donation is instantly convented to US dollars, so whatever you choose to donate you can be sure we get the full amount.
    %p
      If you're considering getting started with Bitcoin: sign up for CoinBase via
      %a{:href=>"http://coinbase.com/join/valleycamp"} our referral link!
    %p
      If you're feeling extra technically inclined, you can donate directly to our 
      %button.button{:type=>"button", :data => {:toggle=>"BTC_Address_dropdown"} }Bitcoin
      Bitcoin Cash
      Litecoin
      or
      Ethereum
      addresses directly.
      %div.dropdown-pane#BTC_Address_dropdown{:data => { :dropdown=>"true", :hover=>"true", :hover_pane=>"true"} }
        %h3 Bitcoin (BTC) Address
        %img{:src=>"/assets/images/BTC_QR_1675CM1gUfy4NuSnscxoCEi4Pits6RbEFn.png"}
        %br
        1675CM1gUfy4NuSnscxoCEi4Pits6RbEFn
  %div.col_3
    :plain
      <a class="coinbase-button" data-code="fa043f78392a6f037ac230e6ccc6e69b" data-button-style="donation_small" data-custom="DONATEPAGE_ONETIME" href="https://www.coinbase.com/checkouts/fa043f78392a6f037ac230e6ccc6e69b">Donate Bitcoins</a><script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>
      <br />
      <a class="coinbase-button" data-code="287ea8df57331e559f8415c70245d03c" data-button-style="subscription_small" data-custom="DONATEPAGE_RECURRING" href="https://www.coinbase.com/checkouts/287ea8df57331e559f8415c70245d03c">Donate Bitcoins</a><script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>

%div.clear
%div.subhead Square Cash - 98.1%
%div.col_9
  %p
    Square Cash only accepts debit cards, and doesn't support subscriptions, but because of smaller fees for processing debit cards more of your donation gets to us! Use the Square Cash website or the Cash app on your mobile phone to send a donation to our cashtag
    %a{:href=>"https://cash.me/valleycamp/"} $ValleyCamp
    and make a difference!
%div.col_3
  :plain
    <a href="https://cash.me/valleycamp/" target="_blank"><img src="/assets/images/donate_square_footer.png" /></a>

%div.clear
%div.subhead PayPal - 96%
%div.col_9
  %p With PayPal you can donate with a credit/debit card, bank account, or your PayPal account. PayPal supports major credit cards, as well as recurring donations. Because the percentage they take is a bit higher they're not the best choice for making small (less than $5) donations.
  %p A monthly donation with PayPal is one of the best things you can do to help support Valley Camp, and you can choose any amount you like. Giving just $0.50 per day (That's only $15 per month!) really helps us to budget not only ongoing maintenance, but expansions and improvements as well.
%div.col_3.center
  :plain
    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="2PX8VPPNGKCQY" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
    
%div.clear
%div.subhead Indirect Donations
%div.col_12
  %p
    There are plenty of other ways to contribute to the success of Valley Camp besides outright donations! Referral links, matching donations, etc, are a great way to help out as well. For example: 
    %a{:href=>"https://smile.amazon.com/ch/46-0487934"} Amazon Smile
    will donate 0.5% of the price of your eligible amazon purchases, whenever you're shopping via
    %a{:href=>"https://smile.amazon.com/ch/46-0487934"} smile.amazon.com
    rather than just the usual amazon webpage. It may not sound like a lot, but with enough people it really does add up!

  %p
    By donating through
    %a{:href=>"http://uwkc.org"} United Way
    or the Boeing Company Employee Community Fund your employer may match your donation, allowing your donation dollar to have even more of an impact.

  %p
    We are a registered charity with 
    %a{:href=>"https://benevity.com"} Benevity
    %br
    If you work for one of the many businesses (including hundreds of enterprise companies like Microsoft, ADP, Apple, Google, and Prudential) that use
    %a{:href=>"https://benevity.com"} Benevity
    for their workplace giving program please consider donating this way to take advantage of any matching that your employer might offer!

%style{ :type=>"text/css" }
  :plain
    #countdown-wrap {
      width: 100%;￼
      height: 300px;
      //border: 1px solid black;
      padding: 20px;
      font-family: arial;
    }
    
    #goal {
      font-size: 28px;
      text-align: right;
      width: 99%;
      @media only screen and (max-width : 640px) {
        text-align: center;  
      }
      
    }
    
    #glass {
      width: 100%;
      height: 20px;
      background: #c7c7c7;
      border-radius: 10px;
      float: left;
      overflow: hidden;
    }
    
    #progress {
      float: left;
      height: 20px;
      background: #AB2430;
      z-index: 333;
      //border-radius: 5px;
    }
    
    .goal-stat {
      width: 25%;
      height: 30px;
      padding: 10px;
      float: left;
      margin: 0;
      
      @media only screen and (max-width : 640px) {
        width: 40%;
        text-align: center;
      }
    }
    
    .goal-number, .goal-label {
      display: block;
    }
    
    .goal-number {
      font-weight: bold;
    }

%div.clear
%br
%br
%div.header.center Ongoing Projects
%p Because we operate 100% on your donations many of our projects can't even be started until we've raised the necessary money. Shown below are just some of the projects we're currently fundraising for!
%p Want to contribute to a specific project or area of camp that's important to you? Let us know what project you'd like to contribute to and we'll make sure your donation gets to the right place.

%div.subhead New camp Wifi network
%div.col_12
  %p Unlike most fund-raising projects, we've already spent the money on this one! Even while taking a break in nature most of us want to be able to check our email or post a quick picture, and our old Wifi just wasn't cutting it anymore.
  %p The upgraded system covers almost twice the area of the old system, and brings internet to users in the lower campground and cabin, where there previously was none. We've also increased the capacity of our internet connection to bring you better and more reliable service during your stay.
  %p Thanks to a donation from long-time friends of Valley Camp we've exceeded our goal on this project! If you'd like to help us with future improvements to the network here at camp please let us know, we're always planning for the future!

:plain
  <div id=countdown-wrap>
    <div id="goal">$3,000</div>
    <div id="glass">
      <div id="progress" style="width:100%">
      </div>
    </div>
    <div class="goal-stat">
      <span class="goal-number">110%</span>
      <span class="goal-label">of goal</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number">$3300</span>
      <span class="goal-label">raised</span>
    </div>
  </div>

%div.clear
%br
%br
%div.subhead New bunks and furniture for Lodge
%div.col_12
  %p The bunkbeds in the lodge are a memory that many many people have of their trip to camp, however like all things, they must eventually become just a memory.
  %p We're fundraising to completely replace the existing bunkbeds, which will also allow us to re-arrange the layout sligthly.
  %p We're also looking to replace some of the donated furniture downstairs, which has been in use for quite a while now. While we always appreciate donations of items, we're looking to replace the current furniture with more commercial items which will hold up to the rigors of many guests for many years!

:plain
  <div id=countdown-wrap>
    <div id="goal">$5,000</div>
    <div id="glass">
      <div id="progress" style="width:10%">
      </div>
    </div>
    <div class="goal-stat">
      <span class="goal-number">10%</span>
      <span class="goal-label">of goal</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number">$500</span>
      <span class="goal-label">raised</span>
    </div>
  </div>

%div.clear
%br
%br
%div.subhead Heater for Roundhouse
%div.col_12
  %p The Roundhouse is a favorite of people looking for a more rustic stay, but not really wanting the tent experience.
  %p We've had a number of requests for a warmer overnight experience, so in order to make it more comfortable as a year-round destination we'd like to add a heating system!

:plain
  <div id=countdown-wrap>
    <div id="goal">$1,500</div>
    <div id="glass">
      <div id="progress" style="width:46%">
      </div>
    </div>
    <div class="goal-stat">
      <span class="goal-number">46%</span>
      <span class="goal-label">of goal</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number">$700</span>
      <span class="goal-label">raised</span>
    </div>
  </div>

%div.clear
%br
%br
%br
%br
%div.header.center Completed Projects
%p
%div.subhead New chapel trail bridge
%div.col_12
  %p If you've been to camp recently you might have noticed some of our new bridges! Most of the walking bridges used to cross the creeks at camp were built many years ago and are showing their age. Some have already been replaced, but there are a few more to go.
  %p The chapel trail bridge is something that many people have memories of. Walking past the ringing bell and into the the cool woods is something that generations of visitors to camp identify with.
  %p Thanks to a generous donation of the beams for the replacement bridge, beautiful local timbers that will support several more generations of campers crossing the water below, we have been able to complete construction of the bridge!

:plain
  <div id=countdown-wrap>
    <div id="goal">$2,400</div>
    <div id="glass">
      <div id="progress" style="width:100%">
      </div>
    </div>
    <div class="goal-stat">
      <span class="goal-number">100%</span>
      <span class="goal-label">of goal</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number">$2400</span>
      <span class="goal-label">raised</span>
    </div>
  </div>

%div.clear
