---
title: Camp History
---

%p
  This is where the history of camp goes. We're still working on building it though.

%p Eventually you'll be able to come here to find out about how camp used to be a logging camp, a farm, and met some of the people who made it what it is today.

