---
title: Mission Statement
---
%p
  Provide a place set apart for all people
  %br
  to grow in harmony and faith through God's word, sacraments and recreation;
  %br
  leaving renewed in Christ.
  %br
  %em (Adopted March 2002)

%p
  %b What we try to do at Valley Camp:

%p Strengthen families through experiences outdoors by:

%p
  Providing a place set apart where the Word can be studied, experienced, lived, wrestled with and joyfully praised.
  %br
  A place for the people of God to come together for a time of fellowship.
  %br
  A place for families to spend time together away from the daily distractions of life.
  %br
  A place for worship, worship among and amidst God's creation.
  %br
  A place to become refreshed and renewed to return to the world and serve.

%p Valley Camp, a registered 501(c)3 Washington State Corporation, owned and operated by the Valley Camp Ministries board of directors,  is a self supporting non profit organization funded 100% by your donations. 
