---
title: Orienteering at Valley Camp
---

We have an orienteering course that can be used in a number of different ways.
%br
Linked here are resources that can be used for running the course:
%ul
  %li
    %a{ :href=>"/assets/files/orienteering/1_Mile_Course.xls" }1 Mile Course (xls)
  %li
    %a{ :href=>"/assets/files/orienteering/Challenge_Course.xls" }Challenge Course (xls)
  %li
    %a{ :href=>"/assets/files/orienteering/Learning_Course.xls" }Learning Course (xls)
  %li
    %a{ :href=>"/assets/files/orienteering/Orienteering_Map_cheat_sheet" }Course Map cheat sheet (pdf)
