---
title: Retreat Planning
---

%p
  We would like to suggest a couple of things to consider when planning your next retreat or family camping outing:

%ol
  %li Keep in mind it takes most of us more than 24 hours to unwind. By planning only an overnight retreat you will miss fully unwinding and starting to really relax and sense all the beauty of the outdoors.</li>
  %li It is difficult to build a sense of community on a one night outing. Time is needed playing, working, cooking and studying together. Group dynamics really begin to develop after the second full day. If you want a truly memorable retreat why not plan at least 3 days and 2 nights as a minimum.
  %li If your considering a retreat for your group but would rather not do the food preparation, ask us about catering options, we have many contacts. (But please keep in mind we consider planning, cooking, eating and cleaning up together one of the best group bonding experiences)
  %li If your group is larger than our sleeping accommodations can provide for in the lodge, consider bringing tents. They can be put up in the lawn in front of the retreat center. We have had groups that had the boys sleep outside in tents and the girls sleep inside. The public restrooms for tent campers is just up the hill from the retreat center. We also have the Roundhouse nearby that sleeps 4, Meadow View Cabin is across the field, and the RV area that could be used as part of your group event.
  %li Another idea that is becoming popular is a church family camp, those with tents come, those with RV's come and use the RV area and those that don't have either or would prefer to sleep indoors use the retreat center. On Sunday the family camp could be concluded with a church picnic for those that could not make the overnight part of the event.

%p
  We are often asked about family activities in the area; the list is long and ranges from our many parks, trails, lakes, rivers and mountain roads to explore to activities in North Bend and Snoqualmie. With our year-round RV sites it is possible to come anytime and take part in local events or just enjoy the natural beauty during the quiet seasons. We are working very hard to become a very family friendly facility, this we hope will allow your family to have a very enjoyable and memorable stay.

%p
  Some recent ideas for events have included:

%ul
  %li Coming out for a weekend in your RV in December, visiting one of the many Christmas Tree farms, taking in the Santa Train and related activities, enjoying a campfire in our covered gazebo while enjoying our own special Christmas lighting around camp.
  %li RV camping and mountain biking the 80 or so miles of trails around camp.
  %li Star watching parties; no city lights here at camp!
  %li Staying at camp and Kayaking the Middle Fork of the Snoqualmie River.
  %li Rock climbing at Exit 38 climbing area is only a 4 mile drive from camp.
  %li Winter RV camping and cross country skiing up the valley, or taking a 20 minute drive up to the Snoqualmie Pass Nordic Center.

%p
  As you can see this list probably only scratches the surface of all the possibilities, and once you come out to visit you will come up with a list of your own that could last you many years!

%p
  We are still working on putting this page together, your questions and ideas are valuable to us. Here are a few links to sites that have some good things to consider when planning for your next retreat:
  %br
  -# TODO: Update Link
  %a{href: "http://old.valleycamp.org/PDF/Retreat%20Planning%20brochure.pdf"} Retreat Planning Tips PDF Download
  %a{href: "http://ministryservingministry.com/"} Ministry Serving Ministry - Great retreat planning ideas
  %a{href: "http://www.lhm.org/new_devo.htm"} Daily Devotions and other resources from Lutheran Hour Ministries
  %a{href: "http://www.dramashare.org/"} Christian drama ministry resources
  %a{href: "http://www.christianstudents.com/"} Christian Students Resources

%p
  Good news! Along with the CD player we have a large screen TV, DVD, piano in the Lodge for your program use. We also have several good CD and DVD's for your use. We are always trying to grow our library. If you hear of something that is well done please let us know. The Lodge also has a white board and pens available. If you need a flip chart stand please let the office know and it will be in the Lodge before you arrive.
