---
title: Service Projects
---
%p
  There are always service opportunities available here at Valley Camp.
  %br
  These project ideas are ways you can participate in the life of your camp.
  %br
  All of the work that is done here at camp is done by volunteers. If you are in need of an Eagle Project or if your youth needs a service project please contact the office. We will be happy to work with you to fill your project and funding requirements.

%p
  Here are just a few ideas:
  %ul
    %li Laminated maps and information signs for Kiosks
    %li Trail signs
    %li Building signs
    %li Trail building
    %li Picnic Tables (metal frames)
    %li Frisbee Golf Course
    %li Labyrinth (60' to 90' diameter)
    %li Remote hike in tent sites
    %li Spring trail cleanup, and trail restoration
    %li Tree pruning, especially our small apple orchard
    %li Firewood cutting and splitting for campfire areas and lodge
    %li Ivy and Holly 'exotic & invassive' plant removal
    %li Building painting
    %li Chapel of the Cross needs a new coat of white paint and new roofing
    %li Wildlife inventory for education center materials

%p We are trying to collect as many photographs of Valley Camp as can be found to create a 'Valley Camp History' page. We need your help locating old pictures, slides, paintings, drawings, etc.. We promise to make copies and get the originals back safely to you. The owner will get credit, unless a request to not do so is sent with pictures. The reason this is mentioned here is that this really could be a project done by a volunteer working with our webmaster to create the camp history pages, in other words, we are looking for a talented volunteer to oversee this project.

%p We have had a real increase in folks asking about hiking opportunities around camp that might allow them to experience seeing wildlife and get some views of the valley. We created a hand drawn map of the area but really could use a good quality map with all the trails, streams, special features displayed that then could be made available here as a pdf download as well as available at camp.

%p Please consider how you might be able to help us make this special place special to all those that visit.
