---
title: Wish List
---

%p
  To care for your camp of 50 acres with many facilities, we seem to always have ways for you to participate in the care and ongoing improvements of camp. Please consider joining the many that have built and cared for the camp over the past 56 years.

%b Improving the overnight accommodations
%ul
  %li Yurts to provide more overnight opportunities - ask us what we are considering and how you or your group might be able to help us.
  %li 24 - new twin size fitted matching sheets for Lodge bunk beds
  %li 2 new sofas and 1 new love seat for Lodge living area
  %li Knives and knife block for lodge kitchen
  %li Small under-counter (silent) dorm room size refrigerator

%b Other ways you can participate with us at Valley Camp:
%p We could use the help of graphic designers, photographers, and folks good with words to help us with publicity. We need folks with business, legal, marketing and environmental knowledge. We need folks to participate in planning committees, barn restoration planning and to help us recruit volunteers. Talk to us about your skills and interests and we’ll help find you a way to participate that’s right for you!
%p We are looking for historical pictures of the property during the early years of Valley Camp and before. Please ask those that you know that came to camp in the 1950's through the 1970's if they would share their pictures, so we can provide a glimpse back in time.
