#!/usr/bin/env ruby

compile '/robots.txt' do
  #filter :haml, format: :html5
  write '/robots.txt'
end

compile '/sitemap.xml' do
  filter :haml, format: :html5
  write '/sitemap.xml'
end

compile '/stylesheet.sass' do
  filter :sass
  write '/style.css'
end

compile '/htaccess.txt' do
  write '/.htaccess'
end

compile '/*.haml' do
  filter :haml, format: :html5
  layout '/leviticus.*'
  write ext: '.html'
end

compile '/**/*.haml' do
  filter :haml, format: :html5
  layout '/leviticus.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.html' do
  layout '/leviticus.*'
  write item.identifier.without_ext + '/index.html'
end

#passthrough '/assets/images/**/*'
#compile '/assets/images/**/*' do
  #write "/images/" + File.basename(item.identifier)
#end

#compile "/assets/favicon/*" do
  #write "/" + File.basename(item.identifier)
#end

compile '/assets/kickstart/**/*' do
  write '/' + item.identifier.components.drop(2).join('/')
end


compile '/assets/favicon/*' do
  write '/' + item.identifier.components[-1].to_s
end

# The remaining items in the assets folder can just get copied over directly
compile '/assets/**/*' do
  write item.identifier
end

layout '/**/*', :erb
