%div.col_6.small.italic{:style => "padding-right: 15px; padding-left:15px; padding-top:0px; margin-top:0px; text-align:right;"}
  %p
    %em
      Valley Camp, a Lutheran Retreat Center in the Cascade Mountains of Washington State; Strengthening families through experiences outdoors.
  %p
    %em
      Valley Camp offers to Lutheran groups, families, individuals, and Lutheran sponsored organizations a facility for private and group retreats, outdoor education camps, VBS programs, family and group reunions, weddings and receptions, RV, and tent camping, hiking and picnicking.
  %p
    %em
      So close, yet feels so far away.
      %br
      Stop in, stay awhile, experience a special kind of hospitality, and be renewed.

%div.col_6{:style => "padding-right: 15px"}
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/old_man_winter.jpg" }
    %li
      %img{ :src => "/assets/images/can_you_see_me_now.jpg" }
    %li
      %img{ :src => "/assets/images/old_barn.jpg" }


%div.col_12
  %div.header.center
    %span.center
      Latest News

  %div.fpn
    %div.fpn_header_left
      %span.t_postedby Posted by
      %span.author Josh Proehl
      %br
      %span.date March 18 2014
    %div.fpn_content
      This is a news post. "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

  %div.fpn
    %div.fpn_header_right
      %span.t_postedby Posted by
      %span.author Josh Proehl
      %br
      %span.date March 18 2014
    %div.fpn_content
      This is a news post. "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
