%div.col_6.small.italic{:style => "padding-right: 15px; padding-left:15px; padding-top:0px; margin-top:0px; text-align:right;"}
  %p
    %em
      Valley Camp, a Lutheran Retreat Center in the Cascade Mountains of Washington State; Strengthening families through experiences outdoors.
  %p
    %em
      Valley Camp offers to Lutheran groups, families, individuals, and Lutheran sponsored organizations a facility for private and group retreats, outdoor education camps, VBS programs, family and group reunions, weddings and receptions, RV, and tent camping, hiking and picnicking.
  %p
    %em
      So close, yet feels so far away.
      %br
      Stop in, stay awhile, experience a special kind of hospitality, and be renewed.

%div.col_6{:style => "padding-right: 15px"}
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/old_barn.jpg" }
    %li
      %img{ :src => "/assets/images/old_man_winter.jpg" }
    %li
      %img{ :src => "/assets/images/can_you_see_me_now.jpg" }

%div.col_12
  %p Nestled at the foot of Snoqualmie Pass about seven miles East of North Bend, Washington, Valley Camp is within an hour’s drive of Seattle. Our 52 acre area is surrounded by forest and offers the peacefulness of the outdoors, in the beauty of the meadows, mountains, trees and streams, with deer and elk often grazing nearby.
  %p Our facilities include a retreat center, picnic shelter, cabin, RV hookups, and plenty of room for camping. With outdoor areas including play structures, fire gazebos, and miles of hiking trails we offer a great location to come visit for an afternoon or a multi-day adventure.
  %p While we are a Lutheran organization, during times the camp is not being used by Lutheran sponsored groups, we will take reservations from other non-profit religious, educational, cultural, and public-service groups who have interests that are compatible with our mission and Christian principles.
  %p Digital copies of <a href="/assets/files/2012_brochure.pdf">printed brochure</a> (<a href="/assets/files/2014_brochure_insert.pdf">and insert</a>) are available, but the most up-to-date information is found here on our website. If you have any questions please don't hesitate to contact us!

%div.col_12
  %div.header.center
    %span.center
      Latest News

  %div.fpn
    %div.fpn_header_right
      %span.t_postedby Posted by
      %span.author Josh
      %br
      %span.date August 19, 2014
    %div.fpn_content
      %p Our new website is live! At long last we've brought an entirely new and exciting look to the site. We're working to make sure that everyone has a good experience, but we can't test everything, so if you have any problems with the site please <a href="mailto:info@valleycamp.org">let us know</a> what device/browser you're using, and what sort of trouble you're having!
      %p This update removes some of the interactivity features previously found on the site, such as user login and voting for posts. Our old site was from back in the early days of social media, and we've found that people are much more excited to connect with us using tools already familiar with them, so rather than logging in here please visit us on <a href="http://facebook.com/valleycamp">facebook</a> or <a href="http://twitter.com/valleycamp">twitter</a>. We'd love to hear from you!
