---
title: Welcome to Valley Camp
---

%p
  Valley Camp, a Lutheran Retreat Center in the Cascade Mountains of Washington State; Strengthening families through experiences outdoors.

%p
  Valley Camp offers to Lutheran groups, families, individuals, and Lutheran sponsored organizations a facility for private and group retreats, outdoor education camps, VBS programs, family and group reunions, weddings and receptions, RV, and tent camping, hiking and picnicking.

%p
  %em
    So close, yet feels so far away.
    %br
    Stop in, stay awhile, experience a special kind of hospitality, and be renewed.
