%div.col_6.small.italic{:style => "padding-right: 15px; padding-left:15px; padding-top:0px; margin-top:0px; text-align:right;"}
  %p
    %em
      Valley Camp, a Lutheran Retreat Center in the Cascade Mountains of Washington State; Strengthening families through experiences outdoors.
  %p
    %em
      Valley Camp offers to Lutheran groups, families, individuals, and Lutheran sponsored organizations a facility for private and group retreats, outdoor education camps, VBS programs, family and group reunions, weddings and receptions, RV, and tent camping, hiking and picnicking.
  %p
    %em
      So close, yet feels so far away.
      %br
      Stop in, stay awhile, experience a special kind of hospitality, and be renewed.

%div.col_6{:style => "padding-right: 15px"}
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/old_barn.jpg" }
    %li
      %img{ :src => "/assets/images/old_man_winter.jpg" }
    %li
      %img{ :src => "/assets/images/can_you_see_me_now.jpg" }

%div.col_12
  %p Nestled at the foot of Snoqualmie Pass about seven miles East of North Bend, Washington, Valley Camp is within an hour’s drive of Seattle. Our 50 acre area is surrounded by forest and offers the peacefulness of the outdoors, in the beauty of the meadows, mountains, trees and streams, with deer and elk often grazing nearby.
  %p We provide a variety of indoor and outdoor facilities plus play structures for kids, fire gazebo to gather under, and access to miles of hiking trails. Valley Camp offfers a great location for an afternoon time away or a multi-day adventure.
  %p While we are a Lutheran organization, during times the camp is not being used by Lutheran sponsored groups, we will take reservations from other non-profit religious, educational, cultural, and public-service groups who have interests that are compatible with our mission and Christian principles.
  %p A digital copy of our <a href="/assets/files/2012_brochure.pdf">printed brochure</a> is available, but the most up-to-date information is found here on our website. Rates can be found on facility pages, but a single page printable <a href="/ratesheet/">Rate Sheet</a> is also available. If you have any questions please don't hesitate to contact us!

%div.col_12
  %div.col_8
    %div.subhead Headlines
    %ul
      %li
        Updated
        %a{href: "/ratesheet/", onclick:"javascript:_paq.push(['trackEvent', 'Page', 'Navigate', 'page:ratesheet'])"} rates for 2019
      %li
        Updated
        %a{href: "/page/coming_events", onclick:"javascript:_paq.push(['trackEvent', 'Page', 'Navigate', 'page:coming_events'])"} Coming Events
