---
"is_hidden": "true"
kind: error
---
%div.col_6
  %div#page_header.header.center{ :style=>"margin-top:0px; padding-top:0px;" }
    Whoa!
    %br
    You were looking for something that doesn't exist.
    %br
    (We couldn't find it either)
  %p
    Please use the navigation above to find what you are looking for, or go to
    %a{ :href=>"/" } our home page.

%div.col_6.center{ :style => "padding-top:10px;" }
  %img{ :src=>"/assets/images/404-squatch.png", :alt=>"A Surprising Sasquatch"}
