@function layout_img($fn)
  @return url('/assets/layouts/leviticus/#{$fn}')

@font-face
  font-family: 'LeagueGothic'
  src: url('/assets/webfonts/leaguegothic-italic-webfont.eot')
  src: url('/assets/webfonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/leaguegothic-italic-webfont.woff') format('woff'), url('/assets/webfonts/leaguegothic-italic-webfont.ttf') format('truetype'), url('/assets/webfonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'LeagueGothic'
  src: url('/assets/webfonts/leaguegothic-regular-webfont.eot')
  src: url('/assets/webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/leaguegothic-regular-webfont.woff') format('woff'), url('/assets/webfonts/leaguegothic-regular-webfont.ttf') format('truetype'), url('/assets/webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg')
  font-weight: normal
  font-style: normal

body
  background-image: layout_img("BackgroundColor.jpg")
  margin: 0px
  padding: 0px

#main_container
  padding: 0px
  width: 980px
  background-color: #ffffff
  border: 10px solid transparent
  border-image: layout_img("container_borders.png") 1 10 1 10 / 10px
  //-webkit-border-image: layout_img("container_borders.png") 1 10 1 10 / 10px
  //-moz-border-image: layout_img("container_borders.png") 1 10 1 10 / 10px
  border-width: 10px
  border-top-width: 0px

  div
    background-color: #ffffff

  #logo
    padding: 0px
    margin: 0px

  #navbar
    margin: 0px

  #nav_toplevel
    ul
      padding: 0px
      margin: 0px
      list-style: none

      li
        font: 400 43px/1.5 LeagueGothic, Helvetica, Verdana, sans-serif

      .btn_inactive
        color: #c4ab6b // TODO: These need to be variables
      .btn_active
        color: #321b05

      li:hover
        color: #371b05

  #nav_mustache
    #nav_mustache_image
      font: 400 186px/1.5 LeagueGothic, Helvetica, Verdana, sans-serif
      margin-top: -36px
      font-weight: bold
      color: #cccccc

  #nav_detailed_container
    padding: 0px

    ul
      list-style-type: none
      padding-top: 19px

      li
        color: #c4ab6b
        font: 400 24px/1.5 LeagueGothic, Helvetica, Verdana, sans-serif
        margin: 0px
        padding: 0px

        a:hover
          color: #371b05

        a
          text-decoration: none
          color: #c4ab6b


    #nav_detailed_welcome
      ul
        li
          margin-top: 21px
          margin-left: -20px
          font: 400 18px/1.5 LeagueGothic, Helvetica, Verdana, sans-serif
          font-style: italic
          color: #cccccc

    .nav_inactive
      display: none

    .nav_active
      display: block
