$c_ever: #3A5824 // Ever (green)
$c_silt: #C4AB6B // Silt (tan)
$c_blur: #8C7146 // Rhetorical Blur (brown)
$c_rich: #371B05 // Rich (dark brown)
$c_egg: #517C72 // Egg (light green)
$header_fonts: LeagueGothic, Helvetica, Verdana, sans-serif

@function layout_img($fn)
  @return url('/assets/layouts/leviticus/#{$fn}')

@font-face
  font-family: 'LeagueGothic'
  src: url('/assets/webfonts/leaguegothic-italic-webfont.eot')
  src: url('/assets/webfonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/leaguegothic-italic-webfont.woff') format('woff'), url('/assets/webfonts/leaguegothic-italic-webfont.ttf') format('truetype'), url('/assets/webfonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'LeagueGothic'
  src: url('/assets/webfonts/leaguegothic-regular-webfont.eot')
  src: url('/assets/webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/webfonts/leaguegothic-regular-webfont.woff') format('woff'), url('/assets/webfonts/leaguegothic-regular-webfont.ttf') format('truetype'), url('/assets/webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg')
  font-weight: normal
  font-style: normal

body
  background-image: layout_img("BackgroundColor.jpg")
  margin: 0px
  padding: 0px

#main_container
  padding: 0px
  width: 980px
  background-color: #ffffff
  border: 10px solid transparent
  border-image: layout_img("container_borders.png") 1 10 1 10 / 10px
  //-webkit-border-image: layout_img("container_borders.png") 1 10 1 10 / 10px
  //-moz-border-image: layout_img("container_borders.png") 1 10 1 10 / 10px
  border-width: 10px
  border-top-width: 0px
  border-bottom-width: 0px

  div
    background-color: #ffffff

  #logo
    padding: 0px
    margin: 0px

  #navbar
    margin: 0px

  #nav_toplevel
    ul
      padding: 0px
      margin: 0px
      list-style: none

      li
        font: 400 43px/1.5 $header_fonts

      .btn_inactive
        color: $c_blur
      .btn_active
        color: $c_rich

      li:hover
        cursor: pointer
        color: $c_rich

  #nav_mustache
    #nav_mustache_image
      font: 400 186px/1.5 $header_fonts
      margin-top: -36px
      font-weight: bold
      color: #cccccc

  #nav_detailed_container
    padding: 0px

    ul
      list-style-type: none
      padding-top: 19px

      li
        color: $c_silt
        font: 400 24px/1.5 $header_fonts
        margin: 0px
        padding: 0px

        a:hover
          color: $c_rich

        a
          text-decoration: none
          color: $c_silt


    #nav_detailed_welcome
      ul
        padding-top: 0px
        li
          margin-left: -100px
          span
            height: 74px
            display: table-cell
            vertical-align: middle
            font: 400 18px/1.5 $header_fonts
            font-style: italic
            color: #cccccc

    .nav_inactive
      display: none

    .nav_active
      display: block

.social_bar
  font-size: 10pt
  margin-top: -35px !important
  margin-bottom: 0px !important
  a
    text-decoration: none
    color: $c_egg
  i
    margin-left: 20px
    margin-right: 5px
    color: #000000 !important

.header
  padding-top: 5px
  margin-top: 0px
  color: $c_ever
  font: 400 46px/1.5 $header_fonts
  span
    padding-right: 15px
    padding-left: 15px
    border-bottom: solid 1px black

.subhead
  color: $c_egg
  font: 400 20px/1.5 $header_fonts
  padding-top: 20px
  span
    padding-right: 15px
    padding-left: 15px
    border-bottom: solid 1px black

.small
  font-size: 12pt

.italic
  font-style: italic

.fac_desciption
  padding: 8px

// Figure out how to de-dupe this without BREAKING CSS's FRAIL LITTLE SPINE
.fpn
  padding-bottom: 15px
  padding-top: 15px
  .fpn_header_right
    float: right
    border-left: solid 2px #cccccc
    padding: 2px
    padding-bottom: 10px
    padding-left: 10px
    margin-left: 10px
  .fpn_header_left
    float: left
    border-right: solid 2px #cccccc
    padding: 2px
    padding-bottom: 10px
    padding-right: 10px
    margin-right: 10px

  .t_postedby
    color: $c_egg
  .author
    color: $c_blur
  .date
    color: #cccccc

#footer
  width: 100%
  margin-left: 0px
  margin-right: 0px
  margin-bottom: 0px
  margin-top: 30px
  padding: 10px
  background-color: $c_rich !important
  div
    background-color: $c_rich !important
    color: #ffffff
