---
title: Surrounding Area
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/area/scroller/DSC_0008.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/area/scroller/DSC_0025.png" }

TODO: Links to:
%ul
  %li Passs
  %li Road project
  %li WTA


Link to City of North Bend calendar, City of Snoqualmie calendar, US Forest Service ranger station, Mountain to Sound Greenway

If you need links to these or the ones you posted let me know and dad can get them for you. There are a bunch of links on the other links page that could be moved or not put on this page.
