---
title: Surrounding Area
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/area/scroller/DSC_0008.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/area/scroller/DSC_0025.png" }

%p Valley Camp may seem far away when you're here, but there are many local activities that are quite accessible. Close to many local hiking, biking, rowing, floating, and snow related activities we can serve as an ideal base camp for all kinds of adventure.
%p Trails around camp offer a lot of hiking without even going anywhere, and the trailhead for the Mailbox Peak trail is within walking distance if you're up for a more significant hike.
%p The Middle Fork valley road rebuild has been completed, providing access to outdoor recreation areas up the valley, and access may be limited based on construction.

%p For water activities Rattlesnake lake is good for swimming or just getting your feet wet.  It is also a good lake for un-motorized boats of all kinds.  Fishing is good.  The lake is stocked every spring. The Education Center is a good place to see how a watershed works to provide drinking water for cities and the building architecture is well worth looking at.  It is also the junctions of the John Wayne trail and the Snoqualmie Valley Trail for bikers.
%p The Middle Fork of the Snoqualmie is a good river for experienced kayakers.  The put in spot is about 3 miles up the valley from camp and the take out point is 2.5 miles down the valley from camp.  It is a class III (or IV) depending on water levels.

%p There are many trails and paths through the North Bend area for biking. For more of an adventure you can bike down the old railroad grade all the way from Snoqualamie Pass, but you might want a coat and flashlight for the 2.3 mile long tunnel under the mountain. Ask at the office for some ideas if you are in need of a new trail.  If you forgot your equipment there are also several locations in North Bend that offer rentals!

%p
  For the less outdoor activity focused, North Bend has an outlet mall as well as being known for the antique shops spread around town. Snoqualamie has two well known local scrapbooking stores right off of the main road, as well as the railroad museum and Snoqualamie Falls overlook. <a href="http://snocasino.com" target="_blank">Snoqualamie Casino</a> also hosts a variety of entertainment events. Both North Bend and Snoqualamie have a number of restaurants. Be sure to ask at the office for a recommendation!

%p
  For local events you can check the calendars of our two nearest hubs of civilization:
  %a{ :href=>"http://northbendwa.gov/calendar.aspx", :target=>"_blank" }North Bend
  and
  %a{ :href=>"http://www.ci.snoqualmie.wa.us/Calendar.aspx", :target=>"_blank" }Snoqualamie

%p
  %br
  %strong Local Recreation Links:
  %ul
    %li
      History of the Middle Fork Valley, as well as current events, and hiking/climbing information.
      %a{ :href=>"http://midforkrocks.com", :target=>"_blank" }Mid Fork Rocks
    %li
      US Forest Service for trail and backcountry information:
      %a{ :href=>"http://www.fs.fed.us/r6/mbs/", :target=>"_blank" }MT. Baker-Snoqualamie National Forest
    %li
      Great place to find information on the history of the Middle Fork Valley as well as the natural history and where you can see old growth trees and great vistas in the valley:
      %a{ :title=>"Middle Fork Giants", :href=>"http://middleforkgiants.blogspot.com/", :target=>"_blank" } Middle Fork Giants
    %li
      Washington Trails Association for trail information:
      %a{ :href=>"http://www.wta.org/", :target=>"_blank" }WTA
    %li
      Our local ski area with downhill, cross country skiing, snowshoeing and sledding:
      %a{ :href=>"http://www.summit-at-snoqualmie.com/", :target=>"_blank" } Summit at Snoqualamie
    %li
      Interstate 90 National Scenic Byway:
      %a{ :href=>"http://www.mtsgreenway.org/", :target=>"_blank" } Mountains to Sound Greenway
    %li
      %a{:href=>"http://www.ngdc.noaa.gov/geomag-web/#declination", :target=>"_blank"}Magnetic Declination Calculator
      \- Know what it is and find your way home

