---
title: Surrounding Area
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/area/scroller/DSC_0008.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/area/scroller/DSC_0025.png" }

%p Valley Camp may seem far away when you're here, but there are many local activities that are quite accessible. Close to many local hiking, biking, rowing, floating, and snow related activities we can serve as an ideal base camp for all kinds of adventure.
%p Trails around camp offer a lot of hiking without even going anywhere, and the trailhead for the Mailbox Peak trail is within walking distance if you're up for a more significant hike.
%p The Middle Fork valley road is currently being rebuilt to provide access to outdoor recreation areas up the valley, and access may be limited based on construction.

%strong Local Recreation Links:
%ul
  %li
    US Forest Service for trail and backcountry information:
    %a{ :href=>"http://www.fs.fed.us/r6/mbs/" }MT. Baker-Snoqualamie National Forest
  %li
    Great place to find information on the history of the Middle Fork Valley as well as the natural history and where you can see old growth trees and great vistas in the valley:
    %a{ :title=>"Middle Fork Giants", :href=>"http://www.middleforkgiants.com", :target=>"_blank" } Middle Fork Giants
  %li
    Washington Trails Association for trail information:
    %a{ :href=>"http://www.wta.org/"}WTA
  %li
    Trails in the Northwest:
    %a{ :href=>"http://www.cooltrails.com/" }cooltrails.com
  %li
    Our local ski area with downhill, cross country skiing, snowshoeing and sledding:
    %a{ :href=>"http://www.summit-at-snoqualmie.com/"} Summit at Snoqualamie
  %li
    Interstate 90 National Scenic Byway:
    %a{ :href=>"http://www.mtsgreenway.org/"} Mountains to Sound Greenway
  %li
    Hiking the Cedar River divide (South of I-90)
    %a{:href=>"http://sites.google.com/site/cedarriverdivide/main"}Trails of the Divide
  %li
    %a{:href=>"http://www.ngdc.noaa.gov/geomag-web/#declination"}Magnetic Declination Calculator
    \- Know what it is and find your way home

%p
  For the less outdoor activity focused local events you can check the calendars of our two nearest hubs of civilization:
  %a{ :href=>"http://northbendwa.gov/calendar.aspx" }North Bend
  and
  %a{ :href=>"http://www.ci.snoqualmie.wa.us/Calendar.aspx" }Snoqualamie
