---
title: Community Areas
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN2368.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN2379.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSC_0078.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSC_0122.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN2468.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN0164.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSC_9084.png" }


%div.fac_description
  %p Community areas are the playground, the fire gazebo, the fields and trails. A great place to make new friends and meet old ones.

