---
title: Community Areas
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN2368.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN2379.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSC_0078.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSC_0122.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN2468.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN0164.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSC_9084.png" }


%div.fac_description
  %p Valley Camp has many open areas to be shared by the entire camp community. A great place to meet old friends or to make new ones, we have plenty to keep you busy exploring for an afternoon or a whole weekend. On the trails surrounding camp you'll find several a variety environments to explore, and our several open fields offer plenty of space for games.
  %p The gazebo surrounds a fire pit which is available year round, fire danger permitting, and is the chosen gathering place many evenings. Firewood provided, so you don't need to bring your own unless you want to get rid of it.
  %p Our playground includes multiple play structures for kids of all sizes, and a sport-court with regulation height basketball hoop at one end and short hoop at the other, perfect for kids-vs-adults. (The swings come in adult-size as well!)
  %p Public restrooms are available in the upper field, and are just a short walk from anywhere in camp. Hot showers are available in the women's side of the restroom, as well as the standalone shower room.
  %p Two chapels, one indoor and one outdoor, are available. While the outdoor chapel is only built during good weather the indoor chapel is heated and ready year-round.
  %p Valley Camp is bordered by forest land on all sides, so we do have wild animals, but nothing to be unduly concerned about. Pets should be kept on-leash for their safety, and please make sure to use the garbage centers so as not to tempt critters to be to inquisitive.

