---
title: Community Areas
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN2368.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN2379.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSC_0078.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSC_0122.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN2468.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSCN0164.png" }
    %li
      %img{ :src => "/assets/images/explore/community/scroller/DSC_9084.png" }


%div.fac_description
  %p description


%ul.tabs.left
  %li
    %a{ :href=>"#tab_rates" } Rates and Reservations
  %li
    %a{ :href=>"#tab_usage_ideas" } Usage Ideas
  %li
    %a{ :href=>"#tab_needs" } Help us improve


%div#tab_rates.tab-content
  free!

%div#tab_usage_ideas.tab-content
  Come hang out!

%div#tab_needs.tab-content
  We're working to upgrade the...
