---
title: Lower Meadow Campground
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/1_DSCN1059.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/2_IMG_0544.png" }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/3_IMG_0548.png" }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/4_IMG_0219.png" }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/5_DSC_0160.png" }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/6_DSC_0211.png" }

%div.fac_description
  %p The Lower Meadow Campground was built as Eagle Scout projects by a number of boys. Many scout groups use this area because it was built with scouting in mind. There are tent pads in the woods for small two man tents, a few for the larger 4 man tents, a flag pole for the flag raising and lowering, and a meadow with lots of grass area for more tenting and space to play games. A great space for large family, groups, and church campouts; with its own fire ring and shelters it's like being in your own private park.

%ul.tabs.left
  %li
    %a{ :href=>"#tab_rates" } Rates
  %li
    %a{ :href=>"#tab_usage_ideas" } Usage Ideas
  %li
    %a{ :href=>"#tab_needs" } Help us improve
  %li
    %a{ :href=>"#tab_reservations" } Reservations
  %li
    %a{ :href=>"#tab_gallery" } Photo Gallery


%div#tab_rates.tab-content
  Rates are: Not that bad!

%div#tab_usage_ideas.tab-content
  Scrapbooking? Youth retreats?

%div#tab_needs.tab-content
  We're working to upgrade the...

%div#tab_reservations.tab-content
  Currently accepting reservations roughly 3 months in advance, but we do have some openings, so please contact us!
  %br
  At the moment we're only accepting reservations via email or phone, so please contact us at 425-888-1852, or 
  %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org

%div#tab_gallery.tab-content
  Browse more photos of the here
