---
title: Lower Meadow Campground
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/1_DSCN1059.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/2_IMG_0544.png" }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/3_IMG_0548.png" }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/4_IMG_0219.png" }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/5_DSC_0160.png" }
    %li
      %img{ :src => "/assets/images/explore/lowermeadow/scroller/6_DSC_0211.png" }

%div.fac_description
  %p The Lower Meadow Campground was built as Eagle Scout projects by a number of boys. Many scout groups use this area because it was built with scouting in mind. There are tent pads in the woods for small two man tents, a few for the larger 4 man tents, a flag pole for the flag raising and lowering, and a meadow with lots of grass area for more tenting and space to play games. A great space for large family, groups, and church campouts; with its own fire ring and shelters it's like being in your own private park.

  %p The lower campground is our most "outdoorsy" camping area. While still being only a short walk to the public restrooms the tenting pads in the woods have the most isolated feeling of all our camping areas. Because of this the lower meadow campground is often used for activities such as survival camp, bush crafting camp, or "first time in the woods" camping adventures.

  %p On the grassy side there is plenty of open space for large group activities, and the covered shelters make it possible to have activities in any weather.

  %div.subhead Improvements and Projects
  %p We're also planning to add a new RV pole, water hydrant, and light pole. Much of this camping area has been built by Eagle Scout projects, so if you know a scout who's looking for a project please have them contact us!

  %div.subhead 2022 Rates
  $30 per night for an individual or family group of up to 5
  %br
  $15 per person for larger groups
  %br
  %br
  A deposit equal to one night’s stay for your group is required to hold your reservation.
  %br
  %br
  Please note that these rates are for tent camping anywhere in camp.

  %div.subhead Reservations
  Currently accepting reservations roughly 3 months in advance, but we do have some openings, so please contact us!
  %br
  At the moment we're only accepting reservations via email or phone, so please contact us at 425-888-1852, or
  %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org

