---
title: Meadow View Cabin
---

%div{:style => "width:60%; float:right; padding-right: 15px"}
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/meadowview/scroller/Cabin_Sign.png" }
    %li
      %img{ :src => "/assets/images/explore/meadowview/scroller/Meadow_View_Cabin2.png" }
    %li
      %img{ :src => "/assets/images/explore/meadowview/scroller/_BLD0089.png" }
    %li
      %img{ :src => "/assets/images/explore/meadowview/scroller/DSCN0820.png" }
    %li
      %img{ :src => "/assets/images/explore/meadowview/scroller/Cabin_Kitchen.png" }
    %li
      %img{ :src => "/assets/images/explore/meadowview/scroller/Cabin_Livingroom.png" }


%div.fac_description
  %p Looking for a place for a quiet time away? This is it, with meadow and mountain views, and cozy porches; think of it as your own private fully furnished mountain retreat cabin. Just bring your food and toothbrush. The kitchen is complete with all appliances, pots, pans, and most dishes you will need for 2, just bring your food and drink and you'll be ready to enjoy breakfast on the deck while watch deer and elk graze in the meadow.
  %p We recommend the cabin for couples and singles. This gives you the most restful experience.
  %p However, it is possible for 2 children to sleep in the living room on the sofas or the floor. You will need to bring sleeping bags for the sofas and floor as there are no linens provided for these spaces.  The full bath provides towels for 2 adults, bring additional towels for children. A tent on the lawn outside is also an added option for the kids.
  %p There is a 4 person maximum for this building.

%ul.tabs.left
  %li
    %a{ :href=>"#tab_rates" } Rates
  %li
    %a{ :href=>"#tab_usage_ideas" } Usage Ideas
  %li
    %a{ :href=>"#tab_needs" } Help us improve
  %li
    %a{ :href=>"#tab_reservations" } Reservations
  %li
    %a{ :href=>"#tab_gallery" } Photo Gallery


%div#tab_rates.tab-content
  Rates are: Not that bad!

%div#tab_usage_ideas.tab-content
  Scrapbooking? Youth retreats?

%div#tab_needs.tab-content
  We're working to upgrade the...

%div#tab_reservations.tab-content
  Currently accepting reservations roughly 3 months in advance, but we do have some openings, so please contact us!
  %br
  At the moment we're only accepting reservations via email or phone, so please contact us at 425-888-1852, or 
  %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org

%div#tab_gallery.tab-content
  Browse more photos of the here
