---
title: Cedar Grove Picnic Shelter
---

%div{:style => "width:60%; float:right; padding-right: 15px"}
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/CedarGrove_Shelter_2.png" }
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/CedarGrove_Shelter_1.png" }
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/DSC_0049.png" }
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/DSC_0202.png" }
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/L1000260.png" }

%div.fac_description
  %p The Cedar Grove Picnic shelter is one of the historic structures here at Valley Camp. It was renovated in the spring of 2007, updating the lighting and kitchen area.
  %p The shelter now has a 4 burner stove top, microwave, refrigerator, a prep sink and double wash sinks with hot and cold running water. There is a new large Barbecue and a dutch oven platform on the back side of the shelter.
  %p This facility is great for family reunions, wedding receptions, church picnics, and RV group gatherings. This is the facility that the Amateur Radio community uses for the radio events and emergency services events.tion


%ul.tabs.left
  %li
    %a{ :href=>"#tab_rates" } Rates
  %li
    %a{ :href=>"#tab_usage_ideas" } Usage Ideas
  %li
    %a{ :href=>"#tab_needs" } Help us improve
  %li
    %a{ :href=>"#tab_reservations" } Reservations
  %li
    %a{ :href=>"#tab_gallery" } Photo Gallery


%div#tab_rates.tab-content
  Rates are: Not that bad!

%div#tab_usage_ideas.tab-content
  Scrapbooking? Youth retreats?

%div#tab_needs.tab-content
  We're working to upgrade the...

%div#tab_reservations.tab-content
  Currently accepting reservations roughly 3 months in advance, but we do have some openings, so please contact us!
  %br
  At the moment we're only accepting reservations via email or phone, so please contact us at 425-888-1852, or 
  %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org

%div#tab_gallery.tab-content
  Browse more photos of the lodge here
