---
title: Cedar Grove Picnic Shelter
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/CedarGrove_Shelter_2.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/CedarGrove_Shelter_1.png" }
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/DSC_0049.png" }
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/DSC_0202.png" }
    %li
      %img{ :src => "/assets/images/explore/picnicshelter/scroller/L1000260.png" }

%div.fac_description
  %p The Cedar Grove Picnic shelter is one of the historic structures here at Valley Camp. It was renovated in the spring of 2007, updating the lighting and kitchen area.
  %p The shelter has a 4 burner stove top, microwave, refrigerator, a prep sink and double wash sinks with hot and cold running water. At the rear of the shelter is a Barbecue holding up to 20lb of charcoal and a dutch oven platform, providing you plenty of space to make food with that realistic "made in the woods" taste.
  %p This facility is great for family reunions, wedding receptions, church picnics, outdoor classroom space for a school or science center, and RV group gatherings. This is the facility that the Amateur Radio community uses for the radio events and emergency services events.

  %div.subhead Projects and Improvements
  We are working on improving the lighting to be a better and more economical LED lighting for the building. Assistance from anyone with access to or expertise with such projects would be greatly appreciated!

  %div.subhead Rates
  Rates are based on the size of your group.
  %br
  $107 minimum per day which covers the first 12 people, and $10 per person for each additional person. (Seating capacity is 100 people)

  %div.subhead Reservations
  Currently accepting reservations roughly 3 months in advance, but we do have some openings, so please contact us!
  %br
  At the moment we're only accepting reservations via email or phone, so please contact us at 425-888-1852, or 
  %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org

