---
title: The Roundhouse
---

%div{:style => "width:60%; float:right; padding-right: 15px"}
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/Roundhouse_Outside.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/Roundhouse.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSC_0260.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSC_0049.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSCN1063.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSCN0812.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSCN0811.png" }


%div.fac_description
  %p Yurt style camping for 4 people in a fully enclosed 18' diameter round cedar building.
  %p Kitchenette amenities include: small refrigerator, microwave, and coffee maker. The Roundhouse has lights, covered porch with a view, a picnic table, and BBQ.
  %p There is no water, bathrooms, or heat in the roundhouse. It really is a nice step up from a tent.
  %p The public restrooms are a short walk across the upper meadow.


%ul.tabs.left
  %li
    %a{ :href=>"#tab_rates" } Rates
  %li
    %a{ :href=>"#tab_usage_ideas" } Usage Ideas
  %li
    %a{ :href=>"#tab_needs" } Help us improve
  %li
    %a{ :href=>"#tab_reservations" } Reservations
  %li
    %a{ :href=>"#tab_gallery" } Photo Gallery


%div#tab_rates.tab-content
  Rates are: Not that bad!

%div#tab_usage_ideas.tab-content
  Scrapbooking? Youth retreats?

%div#tab_needs.tab-content
  We're working to upgrade the...

%div#tab_reservations.tab-content
  Currently accepting reservations roughly 3 months in advance, but we do have some openings, so please contact us!
  %br
  At the moment we're only accepting reservations via email or phone, so please contact us at 425-888-1852, or 
  %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org

%div#tab_gallery.tab-content
  Browse more photos of the here
