---
title: The Roundhouse
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSCN1063.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/Roundhouse_Outside.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/Roundhouse.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSC_0260.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSC_0049.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSCN0812.png" }
    %li
      %img{ :src => "/assets/images/explore/roundhouse/scroller/DSCN0811.png" }


%div.fac_description
  %p Although it started it's life as a water storage tank for the railroad, the roundhouse is now a Yurt style camping facility for 4 people and is a fully enclosed 18' diameter round cedar building.
  %p Kitchenette amenities include: small refrigerator, microwave, and coffee maker. The Roundhouse has lights, covered porch with a view, a picnic table, and BBQ.
  %p There is no water, bathrooms, or heat in the roundhouse, but it can be a nice step up from a tent. The public restrooms are a short walk across the upper meadow.
  %p The Roundhouse is a place to camp when you have forgotten the tent poles. It can also be a spot for the snoring family members you don’t want in the tent, or a great first camping spot for families with small kids. Bring your telescope and enjoy a view of the stars you can't get from even just a few miles closer to the city.


  %div.subhead Improvements and Projects
  We are working to add a new roof to the roundhouse and possibly a small electric heater. Please contact us if you have expertise in these areas or would like to make a donation!

  %div.subhead Rates
  Single night reservations are $42, or $200 for a 7-day reservation.

  %div.subhead Reservations
  Because the building isn't heated it tends to be much busier during the summer months, so make sure to reserve early unless you're one of our brave winter campers!
  %br
  At the moment we're only accepting reservations via email or phone, so please contact us at 425-888-1852, or 
  %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org

