---
title: Upper Meadow RV Campground
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/RV_Sites.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/DSC_0264.png" }
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/DSC_0274.png" }
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/DSC_2834.png" }
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/IMG_0008.png" }

%div.fac_description
  %p The Upper Meadow Campground is designed for RV’s, although when sites are available these can be used for tenters. Nearby there is space for group tenting. RV sites are spacious and surrounded by grass lawn and each has views of the surrounding mountains. The RV sites are close to the Cedar Grove Picnic Shelter, the covered Community Fire Gazebo, and our safe family friendly playground.
  %p The RV sites have power (30 amp service), water, sewer and free WiFi. (Note: Due to our service provider, our wifi isn't particularly fast. You may be able to stream video online, but if everyone in camp starts doing the same it can get quite slow.)
  %p Perfect for a gathering of friends, Grandparent weekend, a good game of bocce ball, or deer & elk watching, the RV area is a great place for camping with a group, or meeting some new friends! Our RV sites are open and accesible, yet large enough that you won't feel like you're peering in your neighbors window unless you want to.

  %div.subhead Notes
  For the safety and sanity of everyone the speed limit inside the camp is <b>5 MPH</b>. Please take your time and enjoy the view when driving through camp.
  %br
  For their own safety all pets must be leashed and under control at all times. We do have wild animals at camp, so please do not leave pets unattended even if tied up. Any excessive barking, meowing, or mooing will be may invite a shushing from fellow campers or camp staff, please be considerate.
  %br
  The GPS Coordinates in the center of the RV area: 47.4650 N / 121.6797 W

  %div.subhead Improvements and Projects
  We are working to improve the sites to 50 amp service and to gravel and level a few more RV pads. If you would like to contribute to this project please indicate so when making a donation!

  %div.subhead Rates
  $30 per night or $150 per week, for full hookups.
  %br
  Dry camping with an RV (No utilities) is $20 per night.
  %br
  (Rates for tent camping can be found
  %a{ :href => "/explore/lowercampground"} here
  and apply to tenting throughout camp.)

  %div.subhead Reservations
  Space for a single RV is usually available, but through the summer months we do have times where every space is taken.
  For larger groups, please make sure to make your reservations early if you want to reserve adjacent spaces!
  %br
  At the moment we're only accepting reservations via email or phone, so make contact us at 425-888-1852, or 
  %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org
