---
title: Upper Meadow RV Campground
---

%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/RV_Sites.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/DSC_0264.png" }
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/DSC_0274.png" }
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/DSC_2834.png" }
    %li
      %img{ :src => "/assets/images/explore/rvarea/scroller/IMG_0008.png" }

%div.fac_description
  %p The Upper Meadow Campground is designed for RV’s, although when sites are available these can be used for tenters. Nearby there is space for group tenting. RV sites are spacious and surrounded by grass lawn and each has views of the surrounding mountains. The RV sites are close to the Cedar Grove Picnic Shelter, the covered Community Fire Gazebo, and our safe family friendly playground.
  %p The RV sites have power (30 amp service), water, sewer and free WiFi.
  %p
    Special notes:
    %ul
      %li Speed limit inside the camp is 5 MPH
      %li All pets must be leashed and under control at all times and no excessive barking or meowing will be permitted.
  %p GPS Coordinates in the center of the RV area: 47.4650 N / 121.6797 W

%ul.tabs.left
  %li
    %a{ :href=>"#tab_rates" } Rates
  %li
    %a{ :href=>"#tab_usage_ideas" } Usage Ideas
  %li
    %a{ :href=>"#tab_needs" } Help us improve
  %li
    %a{ :href=>"#tab_reservations" } Reservations
  %li
    %a{ :href=>"#tab_gallery" } Photo Gallery


%div#tab_rates.tab-content
  Rates are: Not that bad!

%div#tab_usage_ideas.tab-content
  Scrapbooking? Youth retreats?

%div#tab_needs.tab-content
  We're working to upgrade the...

%div#tab_reservations.tab-content
  Currently accepting reservations roughly 3 months in advance, but we do have some openings, so please contact us!
  %br
  At the moment we're only accepting reservations via email or phone, so please contact us at 425-888-1852, or 
  %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org

%div#tab_gallery.tab-content
  Browse more photos of the here
