---
title: Teneriffe Lodge
---
%div.slideshow_container
  %ul.slideshow
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/Teneriffe_Sign.png", :height => 363 }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/DSC_0009.png" }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/DSC_0013.png" }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/DSC_0026.png" }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/DSC_3444.png" }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/DSC_3448.png" }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/DSC_3450.png" }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/L1000373.png" }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/Lodge_Deck.png" }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/Lodge_Kitchen.png" }
    %li
      %img{ :src => "/assets/images/explore/teneriffelodge/scroller/Lodge_Living_Room.png" }

%div.fac_description
  %p Teneriffe Lodge is our facility for group retreats, or small gatherings, and is available for use year-round.
  %p It sleeps 24 in bunk beds, one room sleeps 14 and the other room sleeps 10. You will need to bring sleeping bags, pillows, & personal toiletries. The mattresses have bottom sheets only.
  %p The living room has DVD player with large 42" monitor; bring your movies or rent in North Bend. A piano, boxes of games and puzzles and a fireplace are also available for your use. The kitchen is complete with a stove, 2 ovens, microwave, large refrigerator with freezer, coffee makers, and all of the dishes, utensils, pots and pans. Dish washing soap and dish towels for drying are provided or you are welcome to bring paper products along.
  %p The large deck is covered and lit. It has tables, chairs and a BBQ. The BBQ takes up to 25lb of charcoal for cooking for large groups. There is a large lawn for tents, games and other group activities.


%ul.tabs.left
  %li
    %a{ :href=>"#tab_rates" } Rates and Reservations
  %li
    %a{ :href=>"#tab_usage_ideas" } Usage Ideas
  %li
    %a{ :href=>"#tab_needs" } Help us improve


%div#tab_rates.tab-content
  %div.subhead Overnight (Weekday/Weekend)
  %p
    (Weekends are Friday at 3:30pm – Sunday at 3pm)
    %br
    (Weekdays are Sunday at 5pm – Friday at 1pm)
    %br
    $250 minimum per night which covers your first 10 people
    %br
    $25 per person for each additional person over 10
    %br
    Daytime retreat guests: $8.50 per person

  %div.subhead Day Use (Weekdays Only)
  %p
    (8am – 3pm Monday-Friday)
    %br
    $250 for up to 30 people

  %div.subhead Deposit
  A refundable $100 cleaning deposit is required before your stay in Teneriffe Lodge. If the facility requires a cleaning company to prepare it for the next group your deposit will not be refunded.

  %div.subhead Reservations
  %p
    Currently accepting reservations roughly 3 months in advance, but we do have some openings, so please contact us!
    %br
    %br
    At the moment we're only accepting reservations via email or phone, so please contact us at 425-888-1852, or
    %a{ :href =>"mailto:info@valleycamp.org"} info@valleycamp.org

%div#tab_usage_ideas.tab-content
  Scrapbooking? Youth retreats?

%div#tab_needs.tab-content
  We're working to upgrade the...
